version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"

  # added by normalize
  - package-ecosystem: "swift"
    directory: "/"
    schedule:
      interval: "daily"

  # added by normalize
  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "daily"
