# Quality Gates Configuration
quality_gates:
  code_coverage:
    minimum: 70
    target: 85
    
  test_performance:
    max_duration_seconds: 30
    
  build_performance:
    max_duration_seconds: 120
    
  code_quality:
    max_warnings: 5
    max_errors: 0
    
  file_limits:
    max_file_size_kb: 1000
    max_lines_per_file: 500
    
  complexity:
    max_cyclomatic_complexity: 10
    max_cognitive_complexity: 15

project_specific:
  CodingReviewer:
    test_coverage_minimum: 75
    max_file_uploads: 1000
    
  HabitQuest:
    test_coverage_minimum: 80
    performance_target_ms: 100
    
  MomentumFinance:
    test_coverage_minimum: 85
    data_integrity_checks: true
